<div class="container-lg bg-light text-dark">
 
    <a class="navbar-brand" routerLink="">
        <img class="img-responsive" src="./assets/images/logo.png" alt="Spire consultants, Bhubaneswar">
<span>
<h3 style="display:inline;position:relative;top:-8px;">
        Spire Consultants
        &nbsp;&nbsp;
</h3>
<div class="badge badge-primary text-sm" style="position:relative;left:-250px;top:18px;">
    <small>The Complete living Solutions</small></div>    
</span>
    </a>
    
<div style="float:right;">
<social></social>
</div>
</div>

<div class="container-fluid bg-dark">
    <navbar></navbar>
</div>
  