div.container-fluid{
    font-size: 10pt;
    color: aliceblue;
    background-color: #454645;
    height: 200px;
    padding: 40px;
}

div.container-fluid a{
    cursor: auto;
}

div.container-lg{
    font-size: 9pt;
    padding:20px;
    background-color: #333;
    color: aliceblue;
}

.foot{
    height:auto;
    margin:0 auto;
    color: #cdcdcd;
    /*border: 1px solid #aaa;*/
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
  }
  
  .footdetails{
      font-size:9pt;
      color:#999;
  }