
<div class="container-fluid bg-secondary text-light">
    <div class="row">
        <div class="col gen">
            <h4>The Company</h4>
                <p>S P I R E Consultants, is a Bhubaneswar based proprietorship firm 
                offering consultancy services in field of architecture, planning, 
                engineering, interior design, landscaping, electrical and plumbing. </p>
                <p>
                Spire has its mission objectives in applying modern, analytical, 
                quantitative techniques and systems approach to architecture & 
                planning in the seamless execution of its projects.
                </p>
                <p>
                S P I R E has so far executed numerous assignments. Its services have 
                always been characterized by Objectivity, Efficiency, Economy, Quality 
                and Timely completion. Cost effective technology solutions in Architectural 
                and planning projects are one of the major areas where the achievements 
                of SPIRE have been particularly recognized.
                </p>
        </div>
        <div class="col img">
                <img class="img-thumbnail" src="./assets/images/about/comp001.jpg" alt="spire1">
                <img class="img-thumbnail" src="./assets/images/about/comp002.jpg" alt="spire2">
                <img class="img-thumbnail" src="./assets/images/about/comp003.jpg" alt="spire3">
                <img class="img-thumbnail" src="./assets/images/about/comp004.jpg" alt="spire4">

           <!-- <div class="row" >
                <div class="col">
                    <img class="img-thumbnail" src="./assets/images/about/comp001.jpg" alt="spire1">
                </div>
                <div class="col">
                    <img class="img-thumbnail" src="./assets/images/about/comp002.jpg" alt="spire2">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-thumbnail" src="./assets/images/about/comp003.jpg" alt="spire3">
                </div>
                <div class="col">
                    <img class="img-thumbnail" src="./assets/images/about/comp004.jpg" alt="spire4">
               </div>
                        
            </div>
            -->
        </div>
        <div class="col gen">
            <h4>Sources</h4>
                <p>
                The office is well equipped with the necessary infrastructure like 
                personal computing systems, drawing and printing equipment and is 
                supported by an efficient team of technical and managerial staff. 
                It takes assistance from other specialized consulting firms whenever 
                necessary, in areas such as Structural design, Soil testing and 
                Exploration, Electrical, Air-Conditioning, Sanitary and Plumbing works. 
                </p>
                <p>
                S P I R E is also associated with other outstation firms at New Delhi 
                (VASTUKRITI) and Bangalore (ARCHPLAN) for execution of projects warranting 
                specialized services.
                </p>
        </div>
    </div>

</div>



