
div.container-fluid.proj{
  font-size: 0.8em;
  padding: 0px;
  background-color: silver;
  height: auto;
  box-sizing: border-box;
  overflow:hidden;
}

.sidenav{
  width: 200px;
  height:400px;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  background-color: #555;
  color: #ccc;
  border-right: 1px solid #ccc;
}


ul.nav.nav-tabs{
  box-sizing: border-box;
  display: block;
  width: parent;
  height:100%;
}

ul.nav.nav-tabs li.nav-item a.nav-link:active{
  background-color: #ccc;
  color: #000;
  font-weight: 800;
}

.contents{
  height:auto;
  /* float: left; */
  margin-left:20px;
  padding-left: 30px;
  box-sizing: border-box;
}

div.contents h6{
  box-sizing: border-box;
  padding-left:20px;
  border: 1px solid #222;
}
h6.h,p{
  padding-left:220px;
  color:darkgoldenrod;
  /* border: 1px solid #222; */
  background-color: aliceblue;
}
