
div.container-fluid.proj{
  font-size: 0.8em;
  padding: 0px;
  background-color: silver;
  height: auto;
  box-sizing: border-box;
  overflow:hidden;
}

.sidenav{
  width:150px;
  height:400px;
  box-sizing: border-box;
  float: left;
  background-color: #555;
  color: #ccc;
  border-right: 1px solid #ccc;
}


ul.nav.nav-tabs{
  box-sizing: border-box;
  display: block;
  width: parent;
  height:100%;
}

/* ul.nav.nav-tabs li.nav-item a.nav-link:active{
  background-color: #ccc;
  color: #000;
  font-weight: 800;
} */

.contents{
  height:100%;
  box-sizing: border-box;
  float: left; 
  background-color:#ddd;
  margin:10px;
  
}

div.contents h6{
  box-sizing: border-box;
  padding:10px;
}

.projlist, .imglist{
  float: left;
  padding: 10px;
}
