<div class="container-fluid serv">
<div class="row">
      <div class="col">
        <div class="card" style="width:250px">
        <img src="./assets/images/services/a001.jpg" alt="Architecture">
        <div class="card-body">
        <h5>ARCHITECTURE</h5>
        <p>
          {{text1 | summary}}
           
        </p>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width:250px">
        <img src="./assets/images/services/a002.jpg" alt="Engineering">
        <div class="card-body">
        <h5>ENGINEERING</h5>
        <p>
            {{text2 | summary}}
      
        </p>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width:250px">
        <img src="./assets/images/services/a003.jpg" alt="Interior Design">
        <div class="card-body">
        <h5>INTERIOR DESIGN</h5>
        <p>
            {{text3 | summary}}
      
        </p>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width:250px">
        <img src="./assets/images/services/a004.jpg" alt="town planning">
        <div class="card-body">
        <h5>TOWN PLANNING</h5>
        <p>
            {{text4 | summary}}
       
        </p>
        </div>
        </div>
      </div>
</div>
<!--
<div class="row">
    <div class="col">
        <div class="card" style="width:250px">
        <img src="./assets/images/services/a005.jpg" alt="Landscaping">
        <div class="card-body">
        <h5>LANDSCAPING</h5>
        <p>
            {{text5 | summary}}
       
        </p>
        </div>
        </div>
     </div>
     <div class="col">

     </div>
     <div class="col"></div>
     <div class="col"></div>
</div>
</div>
-->

